
.Textos-Linea h1{
    font-size: 5rem;
    text-transform: uppercase;
    padding: 50px;
    text-align: start;
}
.Textos-Linea h2{
    font-size: 2rem;
    padding: 20px;
    text-align: center;
    color: #191818;
}

.Textos-Linea p{
    color: rgb(97, 94, 94);
    text-align: start;
    font-size: 1.5vw;
    padding-left: 50px;
    padding-bottom: 50px;
    margin-top: -100px;
    
}
.Textos-Recorrido{
    width: 65vw;
    margin: 0 auto;
    color:#191818;
    text-align: left;
}
.Textos-Recorrido h2{
    font-size: 3rem;
    padding: 20px;
    color: #191818;
}
#Texto-Recorrido{
    font-size: 1.5vw;
    padding: 20px;
    text-align: justify;
    margin: 0 auto;
    color: #191818;
    width: 65vw;
}
.Textos-Recorrido h1{
    font-size: 3rem;
    padding: 20px;
    text-align: center;
    color: #191818;
}
#Frase{
    font-style: italic;
    font-family: 'Orliet';
    display: flex;
    text-align: center;
    justify-content: center;
}
#Frase p{
    color: #191818;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    margin-top: 0px;
}
.items-linea{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 100px;
}
.item-linea{
    display: flex;
    flex-direction: column;
    
    
}
.item-linea h3{
    text-align: start;
    width: 380px;
    font-size: 2.5rem;
    

}
.item-linea p{
    text-align: start;
    padding: 0;
    width: 380px;
    font-size: 1rem;
    color: #191818;
    margin: 0;
}
/* Titles.css */
@media (max-width: 700px) {
  .Textos-Linea h1 {
    font-size: 2.5rem;
    padding: 20px;
  }
  .Textos-Linea h2 {
    font-size: 1.1rem;
    padding: 10px;
  }
  .item-linea h3, .item-linea p {
    width: 90vw;
    font-size: 1rem;
    padding: 0 10px;
  }
  .items-linea {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 40px;
  }
}