.App {
  text-align: center;
}
/*191818*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: 'Emigrate';
  src: url(./assets/fonts/Emigrate.otf) format('opentype');
}
@font-face {
  font-family: 'Brunson';
  src: url(./assets/fonts/Brunson.ttf) format('truetype');
}
@font-face {
  font-family: 'Renco';
  src: url(./assets/fonts/Renco-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'volunmo';
  src: url(./assets/fonts/volunmo.ttf) format('truetype');
}
@font-face {
  font-family: 'Dalvetica';
  src: url(./assets/fonts/Davetica-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Merifto';
  src: url(./assets/fonts/Merifto\ DEMO\ VERSION.ttf) format('truetype');
}
@font-face {
  font-family: 'Onesta';
  src: url(./assets/fonts/Onesta\ Vigano\ DEMO\ VERSION.ttf) format('truetype');
}
@font-face {
  font-family: 'Hazeon';
  src: url(./assets/fonts/Hazeon.ttf) format('truetype');
}
@font-face {
  font-family: 'Orliet';
  src: url(./assets/fonts/Orliet\ Pro.otf) format('opentype');
}